@{
    var genresList = ViewBag.GenresList as SelectList;
}



<!DOCTYPE html>
<html>
<head>
  <meta charset="UTF-8">
  <title>Create Game</title>
  <link rel="stylesheet" href="~/wwwroot/css/style.css">
</head>
<body>
  <div class="container">
    <h2>Create Game</h2>
    <form method="POST">
        <p class="error">
        @ViewBag.Error
        </p>
        <div class="input-field">
          <input type="text" name="title" placeholder="Enter game title" class="title" required/>
        </div>
        <div class="input-field">
          <textarea name="description" placeholder="Enter game description" class="description" required></textarea>
        </div>
        <select>
    @foreach (var item in genresList)
    {
        <option value="@item.Value">@item.Text</option>
    }
</select>
@*<label for="genres">Select genres (up to 5):</label>
@{
    List<Genre> genresList = (List<Genre>)ViewBag.genresList; // Вказали явний тип
    SelectList items = new SelectList(genresList, nameof(Genre.Id), nameof(Genre.Name));
}
<select asp-for="SelectedGenres" asp-items="items" multiple>
    <option value="">Choose genres</option>
</select>
*@
      <div class="input-field button">
        <input type="submit" name="submit" value="Create Game" />
      </div>
    </form>
  </div>
  <script src="~/wwwroot/form.js"></script>
  <script src="~/wwwroot/script.js"></script>
</body>
</html>
          @*<select name="number">
    <option value="">Select a number</option>
    <option value="1">One</option>
    <option value="2">Two</option>
    <option value="3">Three</option>
</select>*@