<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content=\"width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://example.com/style.css">
    <link href="https://fonts.googleapis.com/css?family=Roboto" rel="stylesheet">
    <title>Login Form</title>
</head>
<body>
    <div class="container">
        <h1>Login Form</h1>
        <form method="post" action="@Url.Action("Login")">
            <label for="username">Username</label>
            <input type="text" id="username" name="username" required>
            <label for="password">Password</label>
            <input type="password" id="password" name="password" required>
            <button type="submit">Log In</button>
        </form></div>
</body>
</html>
