<!DOCTYPE html>
<html>
<head>
  <meta charset="UTF-8">
  <title>Settings</title>
  <link rel="stylesheet" href="~/wwwroot/css/style.css">
</head>
<body>
  <div class="container">
    <h2>Account info</h2>
    <form method="POST">
        <p class="error">
        @ViewBag.Error
        </p>
        <div class="input-field">
          <input type="int" name="age" placeholder="Enter your age" class="age" required/>
        </div>
        <div class="input-field">
          <input type="text" name="name" placeholder="Enter your name" class="name" required/>
        </div>
      <div class="input-field button">
        <input type="submit" name="submit" value="Submit Now" />
      </div>
    </form>
  </div>
  <script src="~/wwwroot/form.js"></script>
  <script src="~/wwwroot/script.js"></script>
</body>
</html>