<!DOCTYPE html>
<html>
<head>
  <meta charset="UTF-8">
  <title>Settings</title>
  <link rel="stylesheet" href="~/wwwroot/css/style.css">
</head>
<body>
  <div class="container">
    <h2>Account info</h2>
    <form method="POST">
      <p class="error">
        @ViewBag.Error
      </p>
      <div class="input-field">
        <input type="number" name="age" placeholder="Enter your age" class="age" required min = 5 max = 100/>
      </div>
      <div class="input-field">
        <input type="text" name="name" placeholder="Enter your name" class="name" required/>
      </div>
      <div>
        <input type="text" id="gameNameInput" oninput="getGameOptions()">
        <select id="gameOptions" size="5" name = "selectGame"></select>
      </div>
      <div class="input-field button">
        <input type="submit" name="submit" value="Submit Now" />
      </div>
    </form>
  </div>
  <script src="~/wwwroot/form.js"></script>
  <script src="~/js/selectGames.js"></script>
</body>
</html>
